* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f4f4;
    color: #333;
}

/* Header */
header {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 30px 20px;
}

header h1 {
    font-size: 36px;
}

header p {
    margin: 10px 0;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
}

nav a:hover {
    color: #00adb5;
}

/* Sections */
section {
    padding: 50px 20px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    font-size: 28px;
}

/* Project Cards */
.project-card {
    background: white;
    padding: 20px;
    margin: 15px auto;
    width: 60%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.project-card:hover {
    transform: scale(1.03);
    transition: 0.3s;
}

/* Footer */
footer {
    background-color: #222;
    color: white;
    padding: 15px;
    text-align: center;
}
.email-link {
    color: #333;
    text-decoration: underline;
    transition: 0.3s ease;
}

.email-link:hover {
    color: #0077ff;
}
